/* For Page/index.js */
.pageNav {
    margin: 0;
    padding: 0;
    width: 275px;
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    z-index: 9999999999;
}

.topNav {
    display: none;
}

.pageContent {
    min-width: 500px;
    margin-left: 275px;
    padding: 16px;
}

/* For SideNav.js */
.navLogo {
    height: auto;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}


@media (max-width: 720px) {
    .pageNav {
        display: none;
    }
    .pageContent {
        margin-left: 0px;
        padding: 16px;
        min-width: none;
    }
    .topNav {
        display: block;
        width: 100%;
    }
    .navLogo {
        height: '100%';
        width: auto;
        margin: 0 auto;
        display: none;
    }
}

